Old web/models.py:

```python
# web/models.py
{{ old_models }}
```

Old entities definition:

```json
{{ old_entities }}
```

New entities definition:

```json
{{ new_entities }}
```

Your job is to generate a new `web/models.py` given updated entities.
It is impossible to add a non-nullable field to a model. In case of a new field, make it nullable.
